#container {
  width: 100%;
  max-width: 960px;
}

body {
  font-size: 30px;
  color: #08295E;
  font-family: 'Montserrat', sans-serif;
  background-color: #E8E8E8;
  text-align: center;
}

img {
  height: 130px;
  margin: none;
  padding: none;
  -webkit-box-reflect: below -5px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent) , to(rgba(250, 250, 250, 0.2)));
}

h1 {
  font-weight: 700;
  font-size: 40px;
  margin-top: -15px;
}

h2 {
  font-weight: 700;
  font-size: 20px;
}

p {
  font-size: 70px;
  line-height: 100px;
  font-weight: 700;
  margin-top: 0px;
  color: #FA7E02;
}

#board {
  width: 318px;
  margin: 0 auto;
  margin-top: -20px;
}

.column {
  float: left;
  margin-bottom: 20px;
}

.row {
  width: 100px;
  height: 100px;
  border: 3px solid #30C4C9;
  padding: none;
  box-shadow: 2px 2px 6px #63615F;
}

#controls {
  clear: left;
}

.button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  background: #FA7E02;
  color: #08295E;
  border: none;
  padding: 15px;
  margin: 5px 5px;
  box-shadow: 1px 2px 6px #63615F;
  width: 240px;
}

@media only screen and (min-width: 0px) and (max-width: 680px) {
  .button {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
  }
}

footer {
  margin-top: 20px;
}
